.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons__button {
  background-color: transparent;
  color: hsl(210, 14%, 53%);  
  border: none;
  margin: 0 0 0 20px;
  border-bottom: 1px solid transparent;
  transition: color 0.3s;
}

@media (max-width: 414px) {
  .buttons__button {
    flex-basis: 100%;
    margin: 10px;
  }
}

.buttons__button:hover {
  color: hsl(210, 14%, 63%); 
}

.buttons__button:disabled {
  color: hsl(0, 0%, 80%);
}