.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

@media (max-width: 414px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  padding: 20px; 
  border: 1px solid hsl(0, 0%, 93%);
}

.form__button {
  padding: 20px; 
  color: hsl(0, 0%, 100%); 
  background-color: hsl(203, 92%, 55%); 
  border: none;
  transition: color 0.3s;
}

 .form__button:hover {
  background-color: hsl(203, 92%, 60%); 
  transform: scale(1.1);
}

.form__button:active {
  background-color: hsl(203, 92%, 65%); 
 }