.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

@media (max-width: 414px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  padding: 20px; 
  border: 1px solid hsl(0, 0%, 93%);
}

@media (max-width: 360px) {
  .form__input {
    width: 75vw;
    font-size: 14px;
    text-align: center;
  }
}

.form__button {
  padding: 20px; 
  color: hsl(0, 0%, 100%); 
  background-color: hsl(210, 14%, 53%); 
  border: none;
  transition: color 0.3s;
}

@media (max-width: 360px) {
  .form__button {
    width: 75vw;
    font-size: 20px;
    text-align: center;
  }
}

 .form__button:hover {
  background-color: hsl(210, 14%, 63%); 
  transform: scale(1.1);
}

.form__button:active {
  background-color: hsl(210, 14%, 73%); 
 }