.section {
  margin: 10px 0;
  background: hsl(0, 0%, 100%); /*background*/
  box-shadow: 0 0 30px hsl(0, 0%, 93%); /*box-shadow*/
}

.section__header {
  font-size: 20px;
  border-bottom: 1px solid hsl(195, 53%, 79%); /*border-bottom*/
  margin: 0; /*margin*/
}