.section {
  margin: 10px 0;
  background: hsl(0, 0%, 100%); 
  box-shadow: 0 0 30px hsl(0, 0%, 93%); 
}

.section__links {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  cursor: context-menu;
}

.section__button {
  margin: 5px;
  padding: 8px;
  cursor: context-menu;
  border-style: none;
}

.section__button:hover {
  background-color: hsl(203, 92%, 55%);
  color: hsl(0, 0%, 100%);
}

.section__button:active {
  background-color: hsl(203, 92%, 45%);
}

.section__button--link {
  cursor: context-menu;
}

.section__button--lightseagreen {
  background-color: hsl(177, 70%, 41%);
  color: rgb(255, 255, 255);
}

.section__button--lightseagreen.section__button--lightseagreen:hover {
  background-color: hsl(177, 70%, 46%);
}

.section__button--lightseagreen.section__button--lightseagreen:active {
  background-color: hsl(177, 70%, 36%);
}

.section__header {
  border-bottom: 1px solid hsl(0, 0%, 93%); 
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

@media (max-width: 414px) {
  .section__header {
    grid-template-columns: 1fr;
  }
}

.section__title {
  padding: 40px;
  color: hsl(210, 14%, 53%);
  font-size: 35px;
  margin: 0;
  text-align: left;
}

.section__body {
  padding: 20px;
}

@media (min-width: 360px) {
  .section__body {
    padding: 15px;
  }
}