.section {
  margin: 10px 0;
  background: hsl(0, 0%, 100%); 
  box-shadow: 0 0 30px hsl(0, 0%, 93%); 
}

.section__header {
  border-bottom: 1px solid hsl(0, 0%, 93%); 
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

@media (max-width: 414px) {
  .section__header {
    grid-template-columns: 1fr;
  }
}

.section__title {
  color: hsl(210, 14%, 53%);
  font-size: 35px;
  margin: 0;
}

.section__body {
  padding: 20px;
}

@media (min-width: 360px) {
  .section__body {
    padding: 15px;
  }
}