.tasks {
  list-style: none;
  margin: 0; 
  padding: 0; 
}

.tasks__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  align-items: center;
  padding: 10px; 
  border-bottom: 1px solid hsl(0, 0%, 83%); 
}

.tasks__item--hidden {
  display: none;
}

.tasks__content--done {
  text-decoration: line-through;
}

.tasks__button {
  border: none; 
  color: hsl(0, 0%, 100%); 
  font-size: 22px;
  width: 30px; 
  height: 30px; 
  padding: 0; 
  transition: background 0.3s;
}

.tasks__button--toggleDone {
  background-color: hsl(146, 50%, 36%); 
}

.tasks__button--toggleDone:hover {
  background-color: hsl(146, 50%, 46%); 
}

.tasks__button--toggleDone:hover {
  background-color: hsl(146, 50%, 56%); 
}

.tasks__button--remove {
  background-color: hsl(340, 57%, 59%);
}

.tasks__button--remove:hover {
  background-color: hsl(340, 57%, 69%); 
}

.tasks__button--remove:active {
  background-color: hsl(340, 57%, 79%); 
}