.tasks {
  list-style: none;
  margin: 0; /*margin*/
  padding: 0; /*padding*/
}

.tasks__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  /* grid-gap: 20px; */
  align-items: center;
  padding: 10px; /*padding*/
  border-bottom: 1px solid hsl(0, 0%, 83%); /*border-bottom*/
}

.tasks__content--done {
  text-decoration: line-through;
}

.tasks__button {
  border: none; 
  color: hsl(0, 0%, 100%); /*color*/
  width: 30px; 
  height: 30px; 
  padding: 0; 
}

.tasks__button--toggleDone {
  background-color: hsl(177, 70%, 41%); /*background-color*/
}

.tasks__button--toggleDone:hover {
  background-color: hsl(177, 70%, 51%); /*background-color*/
}

.tasks__button--toggleDone:hover {
  background-color: hsl(177, 70%, 61%); /*background-color*/
}

.tasks__button--remove {
  background-color: hsl(340, 57%, 64%); /*background-color*/
}

.tasks__button--remove:hover {
  background-color: hsl(340, 57%, 74%); /*background-color*/
}

.tasks__button--remove:active {
  background-color: hsl(340, 57%, 84%); /*background-color*/
}